#errorContainer{
    min-height: 433px ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

#errorText{
    text-align: center;
}

#errorText p{
    margin: 1rem 0 2rem;
}