#header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    align-items: center;
    max-width: 95vw;
    padding: 1.5rem 1.5rem 0;
    z-index: 100;
}

#homeLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#mainLogo {
    height: 90px;
    width: 100px;
    text-align: center;
}

#mainLogo img {
    /* filter: invert(1); */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#logoText {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--dark);
}

#navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(1rem, 10vw, 4rem);
    justify-self: center;
}

#navLinks a {
    font-weight: 700;
    font-size: clamp(1.1rem, 1.5vw, 1.2rem);
    color: var(--dark);
    transition: all 0.25s;
}

#navLinks a.active {
    color: var(--primary);
}

#navLinks a:hover {
    color: var(--primary);
}

#header .btnContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



@media screen and (max-width: 1200px) {
    #header {
        padding: 1rem;
    }

    #navLinks {
        width: fit-content;
        gap: 2rem;
    }

    .grid2 {
        transform: scale(.9) translateY(30.2%);
    }
}

@media screen and (max-width: 1050px) {

    #logoContainer {
        scale: .9;
    }

    #navlinks {
        margin-top: 0;
    }

    #header .btnContainer {
        width: fit-content;
        scale: .9;
    }
}

@media screen and (max-width: 950px) {

    #header{
        gap: 2.5rem;
        grid-template-columns: auto 1fr;
    }

    #mainLogo {
        height: 70px;
        width: 80px;
    }

    #header .btnContainer {
        display: none;
    }

    #navLinks {
        width: fit-content;
        justify-self: flex-end;
    }
}

@media screen and (max-width: 600px) {
    #header{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    #mainLogo {
        height: 60px;
        width: 70px;
    }

    #logoText {
        font-size: 2rem;
    }

}

@media screen and (max-width: 480px) {

    #header {
        padding: 1rem;
    }

    #mainLogo {
        height: 40px;
        width: 50px;
    }

    #logoText {
        font-size: 1.5rem;
    }

    #navLinks {
        gap: 1rem;
    }

    #navLinks a {
        font-size: 1rem;
    }
}