#footerContainer{
    background-color: var(--dark);
    color: var(--light);
    padding: 6rem 0 4rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    position: relative;
    z-index: 200;
}

#footer {
    max-width: 90vw;
    margin: 0 auto;
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--light);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main{
    width: 500px;
}

.main .logo{
    width: 100px;
    margin-bottom: 1rem;
}

.main h2{
    font-size: clamp(1.5rem, 3vw, 3.5rem);
    font-weight: 400;
    margin-bottom: 1.5rem;
    line-height: 1;
}

.main p{
    color: var(--borderColor);
    font-size: .9rem;
    margin-bottom: 3rem;
}

.main .email {
    font-size: 1.1rem;
    display: flex;
    gap: 1rem;
    cursor: pointer;
    align-items: flex-end;
    color: var(--light);
}

.info{
    display: flex;
    gap: 4rem;
    margin: 4rem 5% 0 0;
    width: 650px;
    align-items: flex-start;
    width: fit-content;
}

.info1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 450px;
}


#addressContainer h3, #socialContainer h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

#addressContainer p{
    color: var(--borderColor);
    font-size: .9rem;
    margin-bottom: .5rem;

}

#socialContainer , #footerLinks{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

#socialContainer h3{
    margin: 0 1rem 0 0;
}

#socialContainer a{
    padding-top: 5px;
}

#socialContainer  img{
    width: 24px;
}

#footerLinks{
    flex-direction: column;
    align-items: flex-start;
}

#footerLinks a{
    color: var(--borderColor);
    font-size: 1.2rem;
    transition: color .3s ease-in-out;
    width: fit-content;
}

#footerLinks a.active{
    color: var(--primary);
}

#footer a.active::after{
    content: '';
    display: block;
    width: 100%;
    margin-top: .5rem;
    height: 2px;
    background-color: var(--primary);
}

#footerLinks a:hover, .email span:hover{
    color: var(--primary);
}


@media screen and (max-width : 1500px) {
    .info{
        margin-right: 0;
    } 
}

@media screen and (max-width : 1200px) {

    .main{
        width: 400px;
    }
    
    .info{
        gap: 3rem;
    }

    .info1{
        width: 300px;
        align-items: flex-start;
    }

    #addressContainer{
        text-align: left;
    }
}

@media screen and (max-width : 950px) {

    #footer{
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }

    .main{
        width: 100%;
        text-align: center;
    }

    .main p{
        width: 80%;
        margin: 0 auto 1.5rem;
    }

    .main .email{
        justify-content: center;
        font-size: 1rem;
    }

    .email img{
        scale: .8;
    }

    .info{
        margin: 4rem 0 0;
        width: 100%;
        justify-content: space-between;
    }

    .info1{
        width: 50%;
    }
}

@media screen and (max-width : 500px){
    #socialContainer h3{
        font-size: 1rem
    }

    #footerLinks .navLink{
        font-size: 1rem;
    }

    #footerLinks{
        align-items: flex-end;
    }


}

@media screen and (max-width : 370px) {
    #socialContainer h3{
        margin: 0;
    }
}