.publication{
    border-radius: 8px;
    border: 1px solid var(--borderColor);
    background: white;
    border: 1px solid #9599f080;
    filter: drop-shadow(0px 4px 4px #00000030);
    display: flex;
    align-items: flex-start;
    padding: 1.2rem 1.5rem;
    gap: 1.5rem;
    width: 90%;
    max-width: 1100px;
    margin: 3rem auto;
    cursor: pointer;
}

.iconContainer{
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    background: var(--light);
    padding: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.publicationIcon{
    width: 26px;
    height: 26px;
}

.content{
    flex: 1;
}

.content .publicationTop{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}



.publicationTitle{
    font-weight: 500;
    font-size: 1.125rem;
    max-width: 900px;
    margin-bottom: .5rem;
}

.publicationSubTitle{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.chevron{
    width: 25px;
    height: 14px;
    transition: all .3s ease-in-out;
    margin-top: 10px;
}

.publicationDescription{
    margin-top: 1rem;
    max-height: 0;
    max-width : 94%;
    overflow: hidden;
    transition: max-height 1.4s ease;
    border-top: 2px solid #DBDBDB;
    padding-top: 1rem;
}

.publicationDescription p{
    line-height: 1.4;
}

.publicationDescription a{
    color: var(--primary);
    font-weight: 500;
    margin-left: 1rem;
}



@media screen and (max-width: 768px ){

    .publication{
        gap: 2rem;
        margin: 2rem auto;
    }

    .chevron{
        display: none;
    }

    .publicationTitle{
        font-size: clamp(.9rem, 1.5vw, 1rem);
    }

    .publicationDescription p{
        font-size: clamp(.8rem, 1.5vw, 1rem);
    }
    
    
}

@media screen and (max-width: 480px ){

    .publication{
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
    }

    .publicationIcon{
        width: 20px;
        height: 20px;
    }

    .publicationTitle{
        text-align: center;
    }

    .publicationSubTitle{
        flex-direction: column;
        text-align: center;
    }

    .publicationDescription{
        text-align: center;
    }
}
