#contactUsPageContent{
    height: 800px;
    background: url(../../assets/images/contact-us-1.png) no-repeat;
    background-size: 100%;
    background-position: 50% 200px;
}


#formContainer {
    max-width: 800px;
    width: 93%;
    margin: 2rem auto 0rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    padding: 3rem;
    border: 1px solid var(--borderColor);
    background-color: var(--light);
    /* border: 1px solid rgba(149, 153, 240, 0.50);
    background: var(--white, #FFF);
    box-shadow: 4px 4px 4px 0px rgba(149, 153, 240, 0.25); */
    text-align: center;
}

#inputs {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 2rem;
}

#inputs .leftContainer,
#inputs .rightContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}


#inputs .error{
    text-align: left;
    color: red;
    height: 21px;
}

.submitBtn{
    margin: 3rem auto 1rem;
}



#inputs input {
    margin-top: 1rem;
    width: 100%;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    outline: none;
    color: #0d0c22;
    appearance: none;
    transition: all 0.5s;
    border: 1px solid rgba(149, 153, 240, 0.50);
    background: var(--light);
    box-shadow: 4px 4px 4px 0px rgba(149, 153, 240, 0.25);
}

#inputs input:hover {
    border-color: #806DF3;
    box-shadow: 0 0 0 4px #806DF355;
    background-color: #fff;
}

#inputs input:focus {
    background-color: #fff;
    box-shadow: 0 0 0 4px #806DF3aa;
    border-color: var(--primary);
}


@media screen and (max-width : 1200px ){
    #contactUsPageContent{
        height: 650px;
    }
}

@media screen and (max-width : 950px ){
    #contactUsPageContent{
        height: 700px;
        background-size: 110%;
        background-position: 50% 300px;
    } 
}

@media screen and (max-width: 768px){
 
    #contactUsPageContent{
        background-size: 120%;
        background-position: 50% 400px;
    } 

    #formContainer{
        padding: 2rem;
    }

    #inputs{
        gap: 2rem;
        margin-bottom: 4rem;
    }

}

@media screen and (max-width: 550px){

    #contactUsPageContent{
        height: 1000px;
        background-position: 50% 700px;
    }

    #formContainer{
        padding: 1.5rem;
    }

    #inputs{
        flex-direction: column;
        margin-bottom: 3rem;
        gap: 1rem;
    }

    #inputs .leftContainer, #inputs .rightContainer{
        gap: 1rem;
    }

}
